
<div class="inner cover">
  <h1 class="cover-heading">Imagination rules the world.</h1>
  <p class="lead">Napoleon Bonaparte</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


